@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
  --color-background: #08233B;
  --text-body: #9CA7B1;
    --color-black: #222;
    --color-deep-black: black;
    --color-grey-100: #d8e3ee;
    --color-grey-200: #f4f4f4;
    --color-grey-300: #f7f8fc;
    --color-grey-400: #ebedf1;
    --color-grey-500: #ededed;
    --color-grey-600: #bad9fc;
    --color-grey-700: #bac6cc;
    --color-grey-800: #62748b;
    --color-grey-900: #222;
    --color-grey: #ccc;
    --color-white: #fff;
    --color-red: #e3342f;
    --color-red-dark: #cc1f1a;
    --color-orange-dark: #de751f;
    --color-yellow-dark: #f5a623;
    --color-blue-dark: #2779bd;
    --color-blue-700: #354b6d;
    --color-blue: #1b55ac;
    --color-blue-500: #1b55ac;
    --color-blue-400: oklch(63.41% .1751 254.98);
    --color-blue-300: #21c8f6;
    --color-blue-200: #cce4fd;
    --color-blue-800: #13111C;
    --color-blue-900: #181622;
    --color-card-200: #bbc5cc;
    --color-card-300: #3a4867;
    --color-card-500: #29334a;
    --color-card-600: #29324a;
    --color-card-700: #28364d;
    --color-card-default: #1c2432;
    --color-card-800: #1e232b;
    --color-card-900: #13171c;
    --color-card-1000: #11141b;
    --color-frameworks: #ec454f;
    --color-testing: #6cc8a3;
    --color-techniques: #459ffb;
    --color-techniques-light: #21c8f6;
    --color-tooling: #9a67dc;
    --color-languages: #f8b02b;
    --color-devops: #5f77a1;
    --secondary-color: #172F44;
    --light-color: #657685;

}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--color-background);
  color: white;
  transition-property: opacity , background-color , filter , transform;
  transition-timing-function: ease-in-out;
  height: 500vh;
}

.page-transition{
  opacity: 0;
  transform-origin: bottom center;
  transform: translateY(120px);
  filter: blur(10px);
  transition: all 0.5s ease-in-out;
  background-color: black;
  transition-duration: 500ms;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body:has(.card[data-color="blue"]:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color="green"]:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}

@layer utilities {

  .navbar-link{
    @apply font-workSans font-bold transition-colors text-white
  }
  .flex-between{
    @apply flex justify-between items-center;
  }
  .flex-center{
    @apply flex justify-center items-center;
  }
  .max-container {
    @apply max-w-7xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins;
  }

  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative font-poppins;
  }

  .blue-gradient_text {
    @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
  }

  .input {
    @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal shadow-card;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal shadow-card;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }
/* navbar */
.header {
  @apply flex-between sm:px-16 px-8 py-1 max-w-7xl mx-auto fixed top-5  z-20 right-0 left-0 text-white ;
}
   .navbar{
     @apply justify-between items-center bg-[var(--secondary-color)] rounded-xl;
   }
  .navbar-nav{
    @apply w-full h-full flex-center flex-col sm:flex-row gap-[2rem] ;
  }
  .navbar-collapse{
    @apply static w-full h-auto  hidden md:flex ;
  }

  .navbar-collapse-show{
    @apply visible sm:visible fixed w-[250px] h-[100vh] left-0 bottom-0 z-20 bg-[#121212] flex-center flex-col items_show_animation;
  }
  .navbar-toggler{
    @apply md:hidden;
  }
  .nav-item{
    @apply text-white/30 font-semibold text-lg cursor-pointer py-8 text-center;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .info-box {
    @apply mx-5 relative flex text-white flex-col gap-3 max-w-2xl neo-brutalism-blue pt-4 pb-12 px-8;
  }

  .neo-btn {
    @apply py-3 px-6 rounded-lg text-blue-500 text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }

  .cta {
    @apply w-full flex items-center md:flex-row flex-col sm:mt-16 mt-8 gap-7 text-white;
  }

  .cta-text {
    @apply text-white font-extrabold flex-1 text-3xl max-md:text-center;
  }

  /* HOME */

  .home{
    @apply px-8 py-1 max-w-7xl lg:h-screen mx-auto flex flex-col sm:flex-row justify-between items-center gap-[5.25rem] sm:gap-3 pt-[10rem]  sm:pt-[15rem] lg:pt-[7rem]
  }
  .home__title{
    @apply w-full text-lg sm:text-xl text-[var(--text-body)] text-center sm:text-start
  }
  .home__description{
    @apply text-4xl sm:text-4xl font-bold leading-[3rem] sm:leading-[3.5rem] md:text-5xl md:leading-[4.5rem]  lg:text-6xl lg:leading-[5.5rem] ;
  }
  .home__bg_image{
    @apply w-[20rem] lg:w-[25rem] aspect-square cursor-pointer
  }
  .experience_line{
    @apply w-3 h-auto bg-[var(--secondary-color)] rounded-full
  }
  .experience_circle{
    @apply w-6 h-6  p-[1px] absolute z-10 -translate-x-[28px] sm:-translate-x-8 left-0 border-4 border-solid border-white rounded-full
  }
  .experience_circle_inner{
    @apply w-full h-full bg-white rounded-full

  }

  /* absolute -translate-x-[29px] sm:-translate-x-8 left-0 */



}


.items_show_animation{
  animation : slide-in 0.5s ease-in-out forwards;
  opacity: 0;
  transform: translateY(-20px);
  
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
  background-color: var(--secondary-color);
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit; 
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(16deg);
  will-change: transform;
  /* box-shadow: 16px 0 40px #e4e4e4; */
  /* box-shadow: 0px 0px 17px 2px #e4e4e4; */
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: var(--secondary-color);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
  cursor: pointer;
  will-change: transform;
}

.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* Neo Brutalism */
.neo-brutalism-blue {
  background: #2b77e7;
  position: relative;
  border-radius: 10px;
  border: #2b77e7;
  box-shadow: 0.6vmin 0.6vmin #336cc1, 1vmin 1vmin #0092db, 1vmin 1vmin #0092db,
    0.65vmin 1vmin #0092db, 1vmin 0.65vmin #0092db;
}

.neo-brutalism-white {
  background: #fff;
  border: #fff;
  box-shadow: 0.6vmin 0.6vmin #fff, 1vmin 1vmin #d2e4ff, 1vmin 1vmin #d2e4ff,
    0.65vmin 1vmin #d2e4ff, 1vmin 0.65vmin #d2e4ff;
}

.backdrop-blur {
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur,)var(--tw-backdrop-brightness,)var(--tw-backdrop-contrast,)var(--tw-backdrop-grayscale,)var(--tw-backdrop-hue-rotate,)var(--tw-backdrop-invert,)var(--tw-backdrop-opacity,)var(--tw-backdrop-saturate,)var(--tw-backdrop-sepia,);
  backdrop-filter: var(--tw-backdrop-blur,)var(--tw-backdrop-brightness,)var(--tw-backdrop-contrast,)var(--tw-backdrop-grayscale,)var(--tw-backdrop-hue-rotate,)var(--tw-backdrop-invert,)var(--tw-backdrop-opacity,)var(--tw-backdrop-saturate,)var(--tw-backdrop-sepia,)
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur,)var(--tw-backdrop-brightness,)var(--tw-backdrop-contrast,)var(--tw-backdrop-grayscale,)var(--tw-backdrop-hue-rotate,)var(--tw-backdrop-invert,)var(--tw-backdrop-opacity,)var(--tw-backdrop-saturate,)var(--tw-backdrop-sepia,);
  backdrop-filter: var(--tw-backdrop-blur,)var(--tw-backdrop-brightness,)var(--tw-backdrop-contrast,)var(--tw-backdrop-grayscale,)var(--tw-backdrop-hue-rotate,)var(--tw-backdrop-invert,)var(--tw-backdrop-opacity,)var(--tw-backdrop-saturate,)var(--tw-backdrop-sepia,)
}

.experience-list-item{
  position: relative;
}
.experience-list-item::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid var(--light-color);
}

.slider .slider_container .work-item .card .project-title{
  background-color: #f3f4f6;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.4);
}

.slider .slider_container .work-item .card:hover{
  transform: scale(1.05);
}
.slider .slider_container .work-item .card .line{
  width: 96%;
}

.slider .slider_container .work-item .card img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.slider .slider_container .work-item .card .project-title {
  position: absolute;
  left: 0;
  width: 96%;
  height: 5rem;
  border-radius: 12px;
  background-color: #111827;
  margin: auto;
  right: 0;
  bottom: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .slider_container .work-item .card h1 {
  color: #fff;
  font-size: 4vmin;
}
.slider .slider_container .work-item .card .line {
  position: absolute;
  left: 0;
  width: 0%;
  height: 0.2rem;
  border-radius: 12px;
  background-color: var(--color-blue);
  margin: auto;
  right: 0;
  bottom: -4rem;
  transition: 0.5s;
}

.slider .slider_container .work-item .card .project-title h1 ,i{
    color: black;
}




.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background-image:
    linear-gradient(#FFF 16px, transparent 0) ,
    linear-gradient(var(--color-blue-dark) 16px, transparent 0) ,
    linear-gradient(var(--color-blue-dark) 16px, transparent 0) ,
    linear-gradient(#FFF 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top , left bottom , right top , right bottom;
  animation: rotate 1s linear infinite;
}



@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg)
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg)
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg)
  }
}



@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
  visibility: visible !important;
  opacity: 1 !important;
  transform: none !important;
}